
<div class="jumbotron jumbotron-muted">
  <div class="container">
    <div class="col-lg-6">
      <h1>Emerald City Hackathon</h1>
      <p class="lead">  The Seattle City hackathon is coming up. We've got great sponsors, great
  teams, great ideas, a great space and great prizes. Sign up now and come
  hack with us!</p>
<div class="col-lg-6">
    <img class="img-responsive" src="https://cdn01.vulcanpost.com/wp-uploads/2016/07/Hackaton-feature.jpg"/>
</div>
</div>
</div>
</div>